/* Properties which are inherited by the child element*/

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}


/* Properties which are not inherited by the child element */

body {
  background-color: lightgray;
  border: 1px solid black;
}

body h1 {
  color: initial; /* Prevents color inheritance */
  font-size: 24px; /* Child element will have a different font size */
}
